@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
  }
}

.loading-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.menubar-custom {
  background-image: url('@/assets/header.png') !important;
  border-radius: 4px !important;
  font-size: 20px !important;
  gap: 36px !important;

  img {
    &:hover{
      cursor: pointer;
    }
  }
}

.p-menubar-item-icon{
  color: #4A148C !important ;
}

.p-menubar p-component p-menubar-mobile p-menubar-mobile-active flex-1 border-none menubar-custom{
  .p-menubar-root-list{
    background-color: white !important;
  }
}

.active-tab {
  background-color: #462768 !important;
  border-radius: 8px !important;
  .p-menubar-item-label{
    color: white !important;
  }
  .p-menubar-item-icon{
    color: #fce43d !important ;
  }
}

.p-menubar-item-label{
  color: #4A148C !important;
}

.p-menubar-item:hover {
  border: none !important;
}

.p-menubar-item-content {
  background: none !important;
  color: #462768 !important;
  font-weight: bolder;
}

.p-menubar-item-content:hover {
  background-color: #462768 !important;
  .p-menubar-item-label {
    color: white !important;
  }
  .p-menubar-item-icon{
    color: white !important ;
  }
}

.p-menubar-item-content:active {
  background: none;
}



.purple-button {
  flex-shrink: 0;
  background-color: #462768 !important;
  border: none !important;
  &:hover{
    background-color: #5e3a8c !important;
    cursor: pointer;
  }
}

.red-button {
  flex-shrink: 0;
  background-color: #dc2626 !important;
  border: none !important;
  &:hover{
    background-color: #ef4444 !important;
    cursor: pointer;
  }
}

.green-button {
  flex-shrink: 0;
  background-color: #16a34a !important;
  border: none !important;
  &:hover{
    background-color: #22c55e !important;
    cursor: pointer;
  }
}

.blue-button {
  flex-shrink: 0;
  background-color: #1d4ed8 !important;
  border: none !important;
  &:hover{
    background-color: #2563eb !important;
    cursor: pointer;
  }
}

.login-input {
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .p-menubar {
    position: relative;
  }
  .p-menubar-button {
    position: absolute !important;
    color: #5e3a8c !important;
    top: 30% !important;
    left: calc(100% - 150px);
  }
}

.tab-wrapper {
  padding: 0 12px 0 12px;
  margin-bottom: 12px;
}

.title-box{
  position: relative;
  margin: 16px 0 0 0;
  font-size: 28px;
  font-weight: bolder;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover{
      cursor: pointer;
    }
  }
}

.top-box{
  position: absolute;
  display: flex;
  align-items: center;
  top: 70%;
  left: 0;
  background: red;
  color: white;
}

.p-datatable-column-header-content {
  justify-content: center;
}

.p-datatable-table-container {
  border-radius: 12px !important;

  .dataTable-buttonBox{
    display: flex;
    gap: 4px;
  }
}

.p-datatable thead th {
  font-weight: bold;
}

.p-datatable th .p-column-header-content {
  justify-content: center !important;
}

.p-datatable tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}


.table-button {
  display: flex;
  font-size: 16px;
  flex-wrap: nowrap;
  margin-bottom: 8px;
  justify-content: right;
  gap: 6px;
}

.p-inputwrapper-filled {
  border: none !important;
  background: white !important;
}

.p-inputwrapper-focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.p-focus {
  background: none;
}

.p-multiselect-dropdown-icon {
  color: #462768;
}

.p-multiselect-chip {
  background: #16a34a !important;
  color: white !important;
  font-weight: bolder !important;
  svg{
    display: none;
  }
  .p-chip-label{
    margin-right: 4px;
  }
}

.p-multiselect-chip:hover {
  background:  #22c55e !important;
  color: white !important;
  font-weight: bolder !important;
}

.p-chip-remove-icon {
  color: white !important;
}

.p-checkbox-box {
  background: none !important;
  border: 1px solid #16a34a !important;
}

.p-checkbox-checked {
  background-color: #16a34a !important;
  border-radius: 6px;
}

.p-paginator-page-selected {
  background: #462768 !important;
  color: white !important;
}

.p-select-option-selected {
  background: #462768 !important;
  color: white !important;
}

.iframe-box{
  margin-top: 24px;
}

.rank-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.bg-gold {
  background-color: #FFD700 !important;
  color: black !important;
  font-weight: bold;
}

.bg-silver {
  background-color: #C0C0C0 !important;
  color: black !important;
  font-weight: bold;
}

.bg-bronze {
  background-color: #CD7F32 !important;
  color: black !important;
  font-weight: bold;
}

.bg-purple {
  background-color: #fcebc2 !important;
  color: black !important;
}

.p-dialog-mask .p-dialog {
  border: none;

  .p-component{
    border-radius: 12px !important;
  }

  &-header {
    padding: 0 0 0 1.5rem;
    background-color: #16a24a;
    border-radius: 10px 10px 0 0 !important;
    h3 {
      font-size: 1rem;
      color: #fff;
    }
    .p-button-text.p-button-secondary {
      border: none !important;
      color: #fff;
    }
    .p-button-text{
      border: none !important;
      color: white !important;
    }
    .p-button-text.p-button-secondary:not(:disabled):hover {
      background-color: transparent;
      .p-icon {
        color: #fff;
      }
    }

  }
  &-content {
    padding-top: 1.25rem;
    .p-textarea:enabled:focus {
      border-color: #256ef4;
      font-size: 1rem;
    }
  }
  &-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    .p-button {
      border-radius: 4px !important;
      padding: 0.407rem 0.625rem;
      border-color: #256ef4;
      background-color: #256ef4;
      font-size: 0.875rem;
      .p-button-label {
        font-weight: normal;
      }
    }
  }
  &.full-cont {
    .p-dialog-content {
      padding: 0;
    }
  }

  .p-password-input {
    width: 100%;
  }
}

.detail-box{
  position: relative;
}
.detail-titleBox{
  display: flex;
  width: 100%;
  border-radius: 12px;
  background-color: #16a24a;
  color: white;
  padding: 4px 12px 4px 16px;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;

  i{
    font-size: 16px;
    color: red;
  }

  .total-box{
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: normal;
  }
}

.write-wrapper{
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  padding: 16px;
  background-color: white;
  border-radius: 12px;

  .write-box{
    display: flex;
    .p-inputgroup{
      width: 33%;
      margin: auto;
    }
    margin: 12px 0 12px 0;
  }
  .write-box2{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
  }

  .p-select {
    border: 1px solid #cad4e0 !important;
    border-radius: 6px;
  }

  .select:focus {
    border: 1.4px solid black !important;
  }
}

.record-check {
  color: green !important;
  margin-right: 8px;
}

.record-check-none {
  color: transparent !important;
  margin-right: 8px;
}

.confirm-box{
  display: flex;
  flex-direction: column;

  .confirmHeader-box{
    background-color: #1d4ed8;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 18px;
  }

  .confirmContent-box{
    padding: 12px 24px 12px 24px;
  }

  .confirmButton-box{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 4px;
  }
}

.red-span {
  color: red;
  font-size: 14px;
  i {
    font-size: 14px;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}


.modal-box {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #16a24a;
  z-index: 2;

  .loginHeader-box {
    background-color: #16a24a;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 18px;
  }
  .loginContent-box{
    margin: 24px auto;
    input{
      width: 280px;
    }
  }

  .loginButton-box{
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 24px;
  }
}
